.a1 {
  background-color: rgb(32, 131, 218);
  display: flex;
  width: 100%;
  height: 100px;
}

.a2 {
  background-color: rgb(32, 218, 116);
  display: flex;
  width: 100%;
  height: 100px;
}

.a3 {
  background-color: rgb(218, 38, 32);
  display: flex;
  width: 100%;
  height: 100px;
}

.a4 {
  background-color: rgb(229, 252, 23);
  display: flex;
  width: 100%;
  height: 100px;
}

.a {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 1000px) {
  .a2 {
    width: 70%;
  }

  .a {
    flex-direction: row;
  }

  .a3 {
    width: 30%;
  }
}

@media all and (min-width: 450px) and (max-width: 1000px) {
  .a2 {
    width: 50%;
  }

  .a {
    flex-direction: row;
  }

  .a3 {
    width: 50%;
  }
}

@media all and (min-width: 450px) and (max-width: 750px) {
  .a2 {
    width: 100%;
  }

  .a3 {
    width: 100%;
  }
}

@media all and (max-width: 500px) {
  .a1 {
    width: 0%;
  }

  .a2 {
    width: 100%;
  }

  .a3 {
    width: 0%;
  }

  .a4 {
    width: 0%;
  }
}
